@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font-family: Overpass, sans-serif;
  color: #fff;
  margin: 0;
  padding-left: 1rem;
  padding-right: 1rem;
  background: #ff5e3a;
  background-image: linear-gradient(0deg, rgba(255, 94, 58, 1) 0%, rgba(255, 149, 0, 1) 100%);
}

*, *::before, *::after {
  box-sizing: inherit;
}

.icon svg {
  fill: #fff;
  width: 100%;
}

ul {
  list-style-type: none;
  padding: 0;
  margin-top: 0;
}

a {
  text-decoration: none;
}

h3 {
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid white;
  padding: 1.125rem;
  margin: 1rem;
  font-size: 1rem;
  margin-bottom: .5rem;
}

li {
  justify-content: center;
}

h2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
}

body {
  margin: 0;
}

p {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1.75rem;
  margin-top: 1rem;
  padding: 0 .5rem;
}

h1 {
  margin-bottom: 0;
}

use {
  width: 8rem;
  height: 8rem;
}

svg {
  padding-bottom: .5rem;
}

i {
  color: #ff9500;
}

i:hover {
  fill: red;
}

@media only screen and (min-width: 38em) {

  h1 {
    text-align: center;
    margin: 2rem;
  }

  main {
    display: grid;
    grid-template-columns: 1fr;
  }

  ul {
    display: grid;
    grid-template-areas: "1 2 3";
  }

  ul:nth-child(1) {
    grid-area: 1;
  }

  ul:nth-child(2) {
    grid-area: 2;
  }

  ul:nth-child(3) {
    grid-area: 3;
  }

  svg {
    padding-bottom: 0;
  }

  p {
    margin: .5rem;
  }

  h2 {
    margin: 0 1.25rem;
    margin-bottom: 1.5rem;
  }

  a {
    text-align: center;
  }

  h3 {
    margin-top: 2rem;
  }

}

@media only screen and (min-width: 90em) {

  h1 {
    padding: 5rem 0;
  }

}
